:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  margin-top: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container_tareas {
  width: 700px;
  min-height: 600px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

h1 {
  text-align: center;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}